<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of all products</title>
    <div th:replace="/fragments/general.html :: styles"></div>
</head>
<body>
    <p>WANT TO PERFORM A SEARCH? GO AHEAD ->
        <input type="text" id="search">
        <a href="" id="anchor" ><button type="button" onclick="btn()">APPLY FILTERS</button></a>
    </p>
    <table>
        <tr>
            <th>PRODUCT ID</th>
            <th>Product code</th>
            <th>Product brand</th>
            <th>quantity in hand</th>
            <th>unit price</th>
        </tr>
        <tr th:each="prod, iterStat:${products}">
            <td hidden th:text="${iterStat.count}"></td>
            <td th:text="${prod.id}"></td>
            <td th:text="${prod.product_code}"></td>
            <td th:text="${prod.brand}"></td>
            <td th:text="${prod.quantity}"></td>
            <td th:text="${prod.unit_price}"></td>
            <td><a th:href="@{/delete_product_info/}+${prod.getId()}">DELETE?</a></td>
            <td><a th:href="@{/update_product_info/}+${iterStat.count}">EDIT!!</a></td>
        </tr>
    </table>
    <div th:replace="/fragments/general.html :: footer"> </div>
</body>
<script>
    function btn(){
        document.getElementById("anchor").href = "/apply_filters/"+document.getElementById("search").value;
    }
</script>
</html>