<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:fragment="styles">
        <link rel="stylesheet" href="/src/main/resources/static/styles.css">
    </div>
</head>
<body>
    <footer th:fragment="footer">
        <p> ---------------------------------------------------------- </p>
        <p> PROG32758 Enterprise Java Development Fall 2023 </p>
        <p> Student Name: Ahmad-Khalil Naji</p>
        <p> Student ID: 991 678 927</p>
        <p> got lost?? => TO RETURN BACK TO THE INDEX CLICK <a href="/index">HERE</a></p>
    </footer>

</body>
</html>