<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <p>HELLO and welcome to super awesome sauce website coded by Ahmhad-Khalil Naji</p>
    <br><p>CLICK <a href="/adding_templates/insert_product">HERE</a> TO ADD A PRODUCT TO DATABASE!</p>
    <br><p>CLICK <a href="/delete_product_info">HERE</a> TO DELETE A PRODUCT</p>
    <br><p>CLICK <a href="/editing_templates/list_of_products">HERE</a> TO EDIT A PRODUCT'S INFORMATION</p>
    <br><p>CLICK <a href="/listing_templates/select_brand">HERE</a> TO LIST ALL PRODCUTS BY SPECIFIC BRANDS</p>
    <br><p>CLICK <a href="/listing_templates/select_by_quantity">HERE </a>TO LIST ALL PRODUCTS BY A SPECIFIC QUANTITY</p>
</body>
</html>